#header {
  padding-bottom: 100vh;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.micro-moon {
  background-image: url("../assets/img/micro\ moon.png");
  background-position: left top;
}

.mini-moon {
  background-image: url("../assets/img/mini\ moon.png");
  background-position: left bottom;
}

.middle-moon {
  background-image: url("../assets/img/middle\ moon.png");
  background-position: right top;
}

.central-moon {
  background-image: url("../assets/img/central-moon.png");
  background-position: bottom;
}

.stars {
  background-image: url("../assets/img/stars.png");
  background-size: cover;
}

.bckgrd-mobile {
  display: none;
	background: url("../assets/img/mobile\ bckg.png") no-repeat;
	background-position: center;
  background-size: cover;
	height: 320px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.125rem;
  margin-top: -3%;
  text-transform: uppercase;
}

.job {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.375rem;
  margin-top: 3%;
  text-transform: uppercase;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#navbar {
  background-color: transparent; 
  border-bottom: 1px solid transparent; 
  transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out; 
  padding: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

#navbar:hover {
  background-color: #a09ac2;
  border-bottom: 1px solid white;
  transition: background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

#navbar img {
  height: 30px;
  margin-right: 50px;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#navbar li {
  margin-right: 50px;
  font-size: 1.625rem;
}

/* Media Queries */
@media only screen and (max-width: 1304px) {
  .name {
    font-size: 5.2rem;
  }
  
  .job {
    font-size: 3rem;
    background-color: #f9fac4;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  #header {
    padding-bottom: 95vh;
  }

  .desktop {
    display: none;
  }
  .bckgrd-mobile {
    display: block;
  }
  .name {
    font-size: 2.8rem;
    
  }
  
  .job {
    font-size: 1.5rem;
  }
}
