@font-face {
  font-family: "JosefinSansBold";
  src: url(../assets/fonts/josefin_sans/static/JosefinSans-Bold.ttf);
}

#profil-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vw;
}

.presentation {
  padding: 0 5vw;
}

.presentation p {
  font-size: 1.8rem;
}

.presentation h3 {
  transform : rotate(-2deg);
  padding-bottom: 20px;
}

.purple-bold-txt {
  color: #DDAAEF;
  font-family: "JosefinSansBold";
}