@font-face {
  font-family: "JosefinSansBold";
  src: url(../assets/fonts/josefin_sans/static/JosefinSans-Bold.ttf);
}

#profil-section-container {
  background-image: url(../assets/img/profil-section-bckgrd.png);
}

#profil-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vw;
}

.presentation {
  padding: 0 5vw;
}

.presentation p {
  font-size: 2rem;
}

.presentation h3 {
  transform : rotate(-2deg);
  margin-bottom: 80px;
}

.purple-bold-txt {
  color: #DDAAEF;
  font-family: "JosefinSansBold";
}

@media (max-width: 991px) {
  #profil-section {
    display: block;
  }

  #profil-section img {
    height: 250px;
    margin-left: calc(50% - 125px);
  }
}

@media (max-width: 655px) {
  .presentation p {
    font-size: 1.2rem;
  }

  .presentation h3 {
    transform : rotate(-2deg);
    margin-bottom: 40px;
  }
}