@font-face {
  font-family: "Chopper";
  src: url(../src/assets/fonts/chopper/Chopper.ttf);
}

@font-face {
  font-family: "Oru";
  src: url(../src/assets/fonts/oruguitas/Oruguitas\ Demo.otf);
}

@font-face {
  font-family: "JosefinSans";
  src: url(../src/assets/fonts/josefin_sans/static/JosefinSans-Light.ttf);
}

@font-face {
  font-family: "JosefinSansSemiBold";
  src: url(../src/assets/fonts/josefin_sans/static/JosefinSans-SemiBold.ttf);
}

@font-face {
  font-family: "JosefinSansBold";
  src: url(../src/assets/fonts/josefin_sans/static/JosefinSans-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1E1E1E;
  list-style: none;
  margin: 0; 
  box-sizing: border-box;
  font-family: "JosefinSans";
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 4.75rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 1.5rem
}

ul img,
li {
  background-color: inherit; 
}

ul {
  list-style-type: none;
  padding: 0;
}

a, a:visited { 
  text-decoration: none; 
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.separation-lign, .blck-separation-lign {
  height: 1px;
}

.separation-lign {
  background-color: white;
}

.blck-separation-lign {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 655px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.8rem
  }
}